<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="" routerLink="dashboard">GloboTK Admin</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li class="nav-item"><button type="button" class="btn btn-light btn-circle btn-xl" onclick="cerrarSesion();"><i class="fas fa-sign-out-alt"></i></button></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Principal</div>
                    <a class="nav-link" href="" routerLink="dashboard">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        GloboTK
                    </a>
                    
                    <div class="sb-sidenav-menu-heading">Secciones</div>
                    <a class="nav-link" href="" routerLink="dashboard">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Graficos
                    </a>
                    <a class="nav-link" href="" routerLink="admNews">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Noticias
                    </a>
                    <a class="nav-link" href="" routerLink="admUsers">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Usuarios
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Noticias</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Seccion de noticias de GloboTK</li>
                </ol>
                <div class="row">
                
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="text-center px-xl-3">
                        <button mat-raised-button class="btn btn-success btn-block" id="botonGuardar"color="primary" >Cargar Noticias</button>
                      </div>
                      <hr class="my-3">
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-3 mb-3">
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Noticias
                    </div>
                    <div class="search-div">
                      <mat-form-field class="search-form-field">
                          <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="filtra()">
                      </mat-form-field>
                    </div>

                    <table mat-table [dataSource]="dataList" class="mat-elevation-z8" matSort>
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Titulo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
                            <td mat-cell *matCellDef="let element"> {{element.titulo}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Descripción">
                            <th mat-header-cell *matHeaderCellDef>Descripción</th>
                            <td mat-cell *matCellDef="let element"> {{element.descripcion}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Link Imagen">
                            <th mat-header-cell *matHeaderCellDef>Link Imagen</th>
                            <td mat-cell *matCellDef="let element"> {{element.ImagenAsociada}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Actualizado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Actualizado</th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaActualizacion}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Categoría">
                          <th mat-header-cell *matHeaderCellDef>Categoría</th>
                          <td mat-cell *matCellDef="let element"> {{element.categoria}}</td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-icon-button colot="warn" (click)="deleteNoticia(row.id)" ><mat-icon>delete_outline</mat-icon></button>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5" aria-label="Select page of users"></mat-paginator>

                </div>
            </div>
        </main>
    </div>
</div>
