<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="index.html">GloboTK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#" routerLink="home">Inicio</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="" routerLink="explore">Explorar</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="" routerLink="news">Noticias</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="" routerLink="about">Nosotros</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="" routerLink="contact">Contacto</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="" routerLink="profile">Perfil</a></li>
                <li class="nav-item"><button type="button" class="btn btn-light btn-circle btn-xl" onclick="cerrarSesion();"><i class="fas fa-sign-out-alt"></i></button></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style="background-image: url('https://media.istockphoto.com/photos/businesswoman-filling-contract-form-picture-id1037076672?k=20&m=1037076672&s=612x612&w=0&h=NUT74fsE-gnoAwzBA9DQA9t8GfS9dev8_h1xz65nTvo=')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contacto</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup"  #formone="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Apellido, Nombre" formControlName="firstCtrl" required>
        </mat-form-field>    
        <br>
        <mat-form-field>
              <input matInput [matDatepicker]="picker1" formControlName="birthCtrl" placeholder="Date of birth">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br>     
        <mat-form-field>
          <mat-select placeholder="Pais" formControlName="countCtrl">
            <mat-option>Selecciona</mat-option>
            <mat-option *ngFor="let pais of countryList" [value]="pais.name">{{pais.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" (ngSubmit)="mandaMail()" #formtwo="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>Correo Electronico</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="example@anymail.com"
                 required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Mensaje</mat-label>
            <textarea matInput formControlName="thirdCrtl" required></textarea>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Enviado</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
</mat-stepper>
<app-footer></app-footer>