    <div class="container">
      <div class="row flex-lg-nowrap">
        <div class="col">
          <div class="row flex-lg-nowrap">
            <div class="col mb-3">
              <div class="e-panel card">
                <div class="card-body">
                  <div class="card-title">
                    <h6 class="mr-2"><span>Usuarios</span></h6>
                  </div>
                  <div class="e-table">
                    <div class="table-responsive table-lg mt-3">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th class="max-width">Correo</th>
                            <th class="max-width">Nombre completo</th>
                            <th>Celular</th>
                            <th class="sortable">Fecha de nacimiento</th>
                            <th>Admin</th>
                            <th>Acciones</th>
                          </tr>
                        </thead>
                        <tbody id="usuarios">
                          
                          
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="text-center px-xl-3">
                    <button mat-raised-button color="primary" (click)="openDialog()">Nuevo cliente</button>
                  </div>
                  <hr class="my-3">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>