<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="" routerLink="dashboard">GloboTK Admin</a>
    <!-- Sidebar Toggle-->
    <!-- Navbar-->
    <button type="button" class="btn btn-dark btn-circle btn-xl" onclick="cerrarSesion();"><i class="fas fa-sign-out-alt"></i></button>
</nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Principal</div>
                            <a class="nav-link" href="" routerLink="dashboard">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                GloboTK
                            </a>
                            
                            <div class="sb-sidenav-menu-heading">Secciones</div>
                            <a class="nav-link" href="" routerLink="charts">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Graficos
                            </a>
                            <a class="nav-link" href="" routerLink="admNews">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Noticias
                            </a>
							<a class="nav-link" href="" routerLink="admUsers">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Usuarios
                            </a>
                            <a class="nav-link" href="" routerLink="admSes">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Sesiones
                            </a>
                            <a class="nav-link" href="" routerLink="admCoSes">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Sesion Pais 
                            </a>
                            <a class="nav-link" href="" routerLink="admRep">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Reporte
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Usuarios</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Usuarios</li>
                        </ol>
						<div class="row">
						
						  <div class="card mb-4">
							<div class="card-body">
							  <div class="text-center px-xl-3">
								<button mat-raised-button class="btn btn-success btn-block" color="primary" (click)="openDialog()">Nuevo cliente</button>
							  </div>
							  <hr class="my-3">
							  
							</div>
						  </div>
						</div>
						<div class="col-12 col-lg-3 mb-3">
						</div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Usuarios
                            </div>
                            <div class="search-div">
                                <mat-form-field class="search-form-field">
                                    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="filtra()">
                                </mat-form-field>
                            </div>

                            <table mat-table [dataSource]="dataList" class="mat-elevation-z8" matSort>
                                <ng-container matColumnDef="Correo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Correo}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Nombre">
                                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Nombre}} {{element.Apellido}}</td>
                                </ng-container>

                                <ng-container matColumnDef="Celular">
                                    <th mat-header-cell *matHeaderCellDef>Telf.</th>
                                    <td mat-cell *matCellDef="let element"> {{element.celular}}</td>
                                </ng-container>

                                <ng-container matColumnDef="Fecha de Nacimiento">
                                    <th mat-header-cell *matHeaderCellDef>FechaNac.</th>
                                    <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento}}</td>
                                </ng-container>

                                <ng-container matColumnDef="Admin">
                                    <th mat-header-cell *matHeaderCellDef>Admin.</th>
                                    <td mat-cell *matCellDef="let element"> {{element.isAdmin}}</td>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let row">
                                        <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
                                        <button mat-icon-button colot="warn" (click)="deleteUser(row.Correo)" ><mat-icon>delete_outline</mat-icon></button>
                                    </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5" aria-label="Select page of users"></mat-paginator>

				        </div>
				    </div>
				</main>
            </div>
    </div>