<div>
    <div class="add-title">
      <span>{{usuarioDB.form.controls['$key'].value?"Editar Usuario":"Crear Usuario"}}</span>
      <h2 id="title" class="primary">Usuario</h2>
    </div>
    <div>
      <form [formGroup]="usuarioDB.form" (change)="formChanged()">
        <mat-grid-list cols="2" rowHeight="85px">
          <mat-grid-tile>
            <div class="text-inside">
              <input type="hidden" formControlName="$key">
              <mat-form-field>
                <input matInput id="nombre" placeholder="First Name" value="" formControlName="Nombre" required>
                <mat-error *ngIf="usuarioDB.form.controls['Nombre'].hasError('required')">
                  Por favor ingresa un nombre
                </mat-error>
                <mat-error *ngIf="usuarioDB.form.controls['Nombre'].hasError('pattern')">
                  Por favor ingresa un nombre
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput id="apellido" placeholder="Last Name" value="" formControlName="Apellido" required>
                <mat-error *ngIf="usuarioDB.form.controls['Apellido'].hasError('required')">
                  Por favor ingresa un apellido
                </mat-error>
                <mat-error *ngIf="usuarioDB.form.controls['Apellido'].hasError('pattern')">
                  Por favor ingresa un apellido
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
      
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field>
                <input matInput id="fecha" [matDatepicker]="picker1" dateformat="y M d" placeholder="Date of birth" formControlName="fechaNacimiento">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput id="email" placeholder="Email address" formControlName="Correo" required>
                <mat-error *ngIf="usuarioDB.form.controls['Correo'].hasError('required')">
                  Por favor ingresa un email id
                </mat-error>
                <mat-error *ngIf="usuarioDB.form.controls['Correo'].hasError('email')">
                  Por favor ingresa un email id valido
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
        
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput id="password" placeholder="contrasenia" [type]="hide ? 'password' : 'text'"  formControlName="Contrasenia" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="usuarioDB.form.controls['Contrasenia'].hasError('required')">
                  Por favor ingresa una contraseña
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput id="numero" placeholder="Numero de telefono" value='' formControlName="celular" required>
                <mat-error *ngIf="usuarioDB.form.controls['celular'].hasError('required')">
                  Por favor ingresa un numero
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-checkbox id="admin" class="example-margin" formControlName="isAdmin">Admin</mat-checkbox>
          </mat-grid-tile>
          
        </mat-grid-list>

        <div class="btn-sec">
          <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onSubmit()" [disabled]="usuarioDB.form.invalid">Guardar</button>
          <button mat-raised-button type="button" class="Discard-btn" (click)="onClear()">Cancelar</button>
        </div>
  
      </form>
    </div>
  </div>
