<div>
    <div class="add-title">
      <h2 id="title" class="primary">Noticia</h2>
    </div>
    <div>
      <form [formGroup]="newsDB.form" >
        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field>
                <input matInput id="id" placeholder="ID" value=""  formControlName="id" readonly>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <textarea matInput id="title" placeholder="Titulo" value="" formControlName="titulo" required></textarea>
                <mat-error *ngIf="newsDB.form.controls['titulo'].hasError('required')">
                  Por favor ingresa un titulo
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
      
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field>
                <input matInput id="Fecha de Actualizacion" [matDatepicker]="picker1" dateformat="y M d" placeholder="Fecha de Actualizacion" formControlName="fechaActualizacion">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput id="email" placeholder="Categoria" formControlName="categoria" required>
                <mat-error *ngIf="newsDB.form.controls['categoria'].hasError('required')">
                  Por favor ingresa una categoria
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
        
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <textarea matInput id="image" placeholder="Fuente de la imagen" formControlName="ImagenAsociada" required></textarea>
                <mat-error *ngIf="newsDB.form.controls['ImagenAsociada'].hasError('required')">
                  Por favor ingresa una contraseña
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <textarea matInput id="descripcion" placeholder="Descripcion" value='' formControlName="descripcion" required></textarea>
                <mat-error *ngIf="newsDB.form.controls['descripcion'].hasError('required')">
                  Por favor ingresa una descripcion
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <textarea matInput id="rutaNoticia" placeholder="Enlace a la Noticia" value='' formControlName="rutaNoticia" required></textarea>
                <mat-error *ngIf="newsDB.form.controls['rutaNoticia'].hasError('required')">
                  Por favor ingresa una ruta
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          
        </mat-grid-list>

        <div class="btn-sec">
          <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onSubmit()" [disabled]="newsDB.form.invalid">Guardar</button>
        </div>
  
      </form>
    </div>
  </div>
