<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="index.html">GloboTK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#" routerLink="home">Inicio</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="" routerLink="explore">Explorar</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="" routerLink="news">Noticias</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="" routerLink="about">Nosotros</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="" routerLink="contact">Contacto</a></li>
                <li class="nav-item"><button type="button" class="btn btn-light btn-circle btn-xl" onclick="cerrarSesion();"><i class="fas fa-sign-out-alt"></i></button></li>
                <li class="nav-item"><button type="button" class="btn btn-light btn-circle btn-xl" onclick="introJs().setOption('showProgress',true).start();"><i class="fas fa-question"></i></button></li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>News</h1>
                    <h2 class="subheading">Filtra las noticias por el género musical</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5 py-3 py-lg-4">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class=".col-md-4.col-md-4.col-md-4">
            <select id="genre" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Open this select menu</option>
                <option value="Pop">Pop</option>
                <option value="Rock">Rock</option>
                <option value="Latin">Latin</option>
                <option value="Music News">Music News</option>
            </select>
        </div>
    </div>
</div>
    <!-- Post Content-->

<!--More News-->
<div id="news-container" class="noticias container">
</div> 

<app-footer></app-footer>