<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="" routerLink="dashboard">GloboTK Admin</a>
    <!-- Sidebar Toggle-->
    <!-- Navbar-->
    <button type="button" class="btn btn-dark btn-circle btn-xl" onclick="cerrarSesion();"><i class="fas fa-sign-out-alt"></i></button>
</nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Principal</div>
                            <a class="nav-link" href="" routerLink="dashboard">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                GloboTK
                            </a>
                            
                            <div class="sb-sidenav-menu-heading">Secciones</div>
                            <a class="nav-link" href="" routerLink="charts">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Graficos
                            </a>
                            <a class="nav-link" href="" routerLink="admNews">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Noticias
                            </a>
							<a class="nav-link" href="" routerLink="admUsers">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Usuarios
                            </a>
                            <a class="nav-link" href="" routerLink="admSes">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Sesiones
                            </a>
                            <a class="nav-link" href="" routerLink="admCoSes">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Sesion Pais 
                            </a>
                            <a class="nav-link" href="" routerLink="admRep">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Reporte
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">GloboTK Admin Page</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Manejo de datos y Reporte</li>
                        </ol>
                    </div>
                </main>
			</div>
		</div>


	<app-footer></app-footer>